
body,
html {
        width: 100%;
        height: 100%;
    }
body {
   background: #444444;
   color: white;
   font: 15px/1.51 system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
   margin:0 auto;
   max-width:800px;
   padding:20px;
}

.betField {
  color: #444444;
  height: 20%;
  width: 50%
}

.selectTeam {
  color: #444444;
}

form {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding: 5px;
  margin: 5px 0 0 0;
}

input {
  padding:8px 20px;
  border-radius: 2px;
  border:0;
  font-size:20px;
}
.status-key,
.status-ajax {
  margin:10px 0;
}
.status-ajax {
  color:#99FF7E;
}
            .grid-container {
              display: grid;
              grid-template-columns: 1fr; /* Side nav is hidden on mobile */
              grid-template-rows: 50px 1fr 50px;
              grid-template-areas:
                'header'
                'main'
                'footer';
              height: 100vh;
            }
            
            .sidenav {
              display: none;
              grid-area: sidenav;
              background-color: #394263;
            }
            
            .main-cards {
              column-count: 1;
              column-gap: 20px;
              margin: 20px;
            }
            
            /* Non-mobile styles, 750px breakpoint */
            @media only screen and (min-width: 46.875em) {
              /* Show the sidenav */
              .grid-container {
                grid-template-columns: 240px 1fr; /* Show the side nav for non-mobile screens */
                grid-template-areas:
                  "sidenav header"
                  "sidenav main"
                  "sidenav footer";
              }
              .sidenav {
                display: flex;
                flex-direction: column;
              }
            }
            /* Medium-sized screen breakpoint (tablet, 1050px) */
            @media only screen and (min-width: 65.625em) {
              /* Break out main cards into two columns */
              .main-cards {
                column-count: 2;
              }
            }
            
* {
  box-sizing: border-box;
}
.main-cards {
    column-count: 2;
    column-gap: 20px;
    margin: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #82bef6;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
  }
  /* Force varying heights to simulate dynamic content */
  .card:first-child {
    height: 485px;
  }
  .card:nth-child(2) {
    height: 200px;
  }
  .card:nth-child(3) {
    height: 265px;
  }
  .menu-icon {
  position: fixed;
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  background-color: #DADAE3;
}
        #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
        }
        #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
        }
        #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block
        }
        #myUL li a:hover:not(.header) {
        background-color: #eee;
        }
        /* Assign grid instructions to our parent grid container */
        body,
        html {
            width: 100%;
            height: 100%;
        }
        .grid-container {
            display: grid;
            grid-template-columns: 240px 1fr;
            grid-template-rows: 50px 1fr 50px;
            grid-template-areas:
                "sidenav header"
                "sidenav main"
                "sidenav footer";
            height: 100vh;
        }
        /* Give every child element its grid name */
        .header {
            grid-area: header;
            background-color: #648ca6;
        }
        .footer {
            grid-area: footer;
            background-color: #648ca6;
        }
        .header,
        .footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 16px;
            background-color: #648ca6;
        }
        .sidenav {
            display: flex;
            /* Will be hidden on mobile */
            flex-direction: column;
            grid-area: sidenav;
            background-color: #394263;
        }
        .sidenav__list {
            padding: 0;
            margin-top: 85px;
            list-style-type: none;
        }
        .sidenav__list-item {
            padding: 20px 20px 20px 40px;
            color: #ddd;
        }
        .sidenav__list-item:hover {
            background-color: rgba(255, 255, 255, 0.2);
            cursor: pointer;
        }
        .main {
            grid-area: main;
            background-color: #8fd4d9;
        }
        .main-header {
            display: flex;
            justify-content: space-between;
            margin: 20px;
            padding: 20px;
            height: 150px;
            /* Force our height since we don't have actual content yet */
            background-color: #e3e4e6;
            color: slategray;
        }
        .main-overview {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
            /* Where the magic happens */
            grid-auto-rows: 94px;
            grid-gap: 20px;
            margin: 20px;
        }
        .overviewcard {
            display: none;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            background-color: #d3d3;
        }